// COLORS
$dark-grey: #303030;
$white: #FFFFFF;
$light-grey: #ECECE7;
$black: #1B1B1B;
// INTENTION
$surface-bg: $dark-grey;
$surface-text: $white;
$body-text: $black;
$body-bg: $light-grey;
$title-text: $black;
// SPACING
$padding-sm: 12px;
$padding-md: 24px;
$padding-lg: 48px;
// FONTS
$font-title: 'Orator Std';
$font-body: 'Source Sans Pro';
// LAYOUT
$header-size: 48px;
$footer-size: 36px;
$max-width-layout: 1240px;